<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

    </head>
<body>
<header th:replace="~fragments/navbar"></header>
<main class="mt-3">
    <h1 class="text-center">Order this product</h1>
    <form id="add-order-form" class="form w-25 mx-auto" th:action="@{/order/product/{id}(id=${product.id})}" method="post">
        <div class="jumbotron bg-light text-center">
            <div class="text-center">
                <img th:src="${product.getImageUrl()}"
                     width="350" height="350" alt="Product">
            </div>
            <div class="text-center">
                <span>Customer</span>
                <label>
                    <input th:value="${#authentication.getPrincipal().getUsername()}" disabled
                           class="disabled form-control"/>
                </label>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <span>Name</span>
                    <label>
                        <input th:value="${product.getName()}" disabled class="disabled form-control"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4>Desciption: <span th:text="${product.getDescription()}"></span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4>Price: <span th:text="${product.getPrice()}"></span></h4>
                </div>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button id="btn-submit-order" type="submit" class="btn btn-success">Order
                    Product
                </button>
            </div>
        </div>
    </form>
</main>
<footer th:replace="~fragments/navbar::footer"></footer>
</body>

</html>