<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">
    <title></title></head>
<body>
<header th:replace="~fragments/navbar"></header>
<main>
    <p>
        <a th:href="@{/register}">
            <img border="0" alt="indexImg"
                 src="https://res.cloudinary.com/pavlina/image/upload/v1702061755/pic4_w1kye7.jpg"
                 style="width: 100%; height: 100%">
        </a>
    </p>
    <div>
        <div class="row d-flex justify-content-between">
            <div class="data col-md">
                <h1 class="text-center brush-script font-weight-bold">Clearance Up To 25% Off. Hurry Last Chance! While Supplies Last!</h1>
            </div>
            <div class="print-container container-fluid">
                <div class="row mb-4 d-flex justify-content-start products-data"></div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~fragments/navbar::footer"></footer>
</body>

</html>