<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block>
    <div th:replace="~{fragments/head.html}"></div>
</th:block>
<body>
<th:block>
    <div th:replace="~{fragments/navbar.html.html}"></div>
</th:block>
<div class="container-fluid">

<main class="mt-4">
    <div class="jumbotron mt-3 mc-404">
        <h1 class="mc-colorize">Page Not Found: ERROR 404!</h1>
        <hr class="hr-2"/>
        <h4 class="mc-colorize">This page doesn't exist...</h4>
    </div>
</main>
    <th:block>
        <footer th:replace="~{fragments/footer.html}"></footer>

    </th:block>
</div>
</body>
</html>